*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body  {
    font-family: "poppins", sans-serif;
    background: #F0FFC3;
    color: #ffffff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.cards .telegram{
    background-color: #008BFF;
}
.cards .instagram{
    background-color:#f0a249;
}
.cards .linkedin{
    background-color: #1C4D8D;
}
.cards .facebook{
    background-color: #2f41b8;
}
.cards .card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100px; 
    width: 300px;
    border-radius: 10px;
    cursor: pointer;
    transition: 400ms;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);

}
.card p{
    font-size: 1em;
    font-weight: 700;
}
.card:hover{
    transform: scale(1.1,1.1);
}
.cards:hover .card:not(:hover){
    transform:scale(0.9,0.9);
    filter: blur(10px);
}
.img{
    width: 50px;
    height: 50px;
    align-items: center;

}
.tip{
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3)
}
.link{
    text-decoration: none;
    color: #ffffff;
}